body {
  background-color: orange;
  font-family: pacifico;
  margin: 0 auto;
}

h1,
h4,
form,
ul,
footer {
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

li {
  list-style: none;
  font-size: 1.5em;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
}

.task-input {
  justify-content: center;
}
